body {
    text-align: center;
    font-family: Arial, sans-serif;
    height: max-content;
    width: 100%;
}

.main {
    height:fit-content;
}

.device {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
}

#lightDevice {
    background: rgba(144, 239, 36, 0.5);
    border-radius: 10px;
}

#lightDevice span {
    font-style: italic;
    font-weight: 800;
}

#fanDevice {
    background: rgba(22, 68, 234, 0.5);
    border-radius: 10px;

}

#fanDevice span {
    font-style: italic;
    font-weight: 800;

}

#refreshButton {
    border: none;
    outline: none;
    border-radius: 20px;
    background: rgba(222, 121, 7, 0.5);
    font-size: 20px;
    cursor: pointer;
}

h1 {
    color: #333;
}
